@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #F2F2F2;
}
header{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #011126;
    width:100%;
    height:120px;
}
header h1{
    color:#F2F2F2;
    font-family: 'Montserrat';
    font-size:2em;
}
.lista{
    display:flex;
    flex-direction: column;
    margin:auto;
    padding:20px;
    align-items: center;
    justify-content: flex-start;
    width:100%;
    height:500px;
    gap:5px;
}
.tabelaDados{
    width:100%;
    height: auto;
    overflow-x: auto;
    border-radius: 3px;
}
.table{
    font-size: 0.89em;
}

.btnCadastrar{
    display: flex;
    justify-content: flex-end;
    background-color: #011126;
    width:100%;
    padding:1.5em;
    border-radius: 3px;
}
.botaoCadastrar{
    border:none;
    width:230px;
    background-color: #08428C;
    color:white;
    border-radius: 0.4em;
    padding:0.7em;
    font-size: 1.1em;
}
.cadastro{
    display:flex;
    flex-direction: column;
    margin:auto;
    margin-top:20px;
    padding:60px;
    width:45%;
    border-radius:0.7em;
    background-color:white;

}
.divCampos{
    display: flex;
    justify-content: center;
    margin-bottom:15px;
}
.divCampos .formulario{

  padding: 10px;
  border-radius: 8px; 
  border: 1px solid #ccc; 
  background-color: #f9f9f9; 
  font-size: 16px; 
  color: #333; 
  transition: all 0.3s ease; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  width:300px;
}
.divCampos .formulario:focus {
    border-color: #007bff; 
    background-color: #fff; 
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25); 
    outline: none; 
  }
  
.btnEstilo{
    margin-right: 25px;
}
@media screen and (min-width:768px){

    .lista{     
        width:75%;
    }
    .table{
        font-size: 1em;
    }
}
@media screen and (min-width:1080px){
    .lista{     
        width:60%;
    }
}