@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #F2F2F2;
}
header{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #011126;
    width:100%;
    height:120px;
}
header h1{
    color:#F2F2F2;
    font-family: 'Montserrat';
    font-size:1.9em;
}
.lista{
    display:flex;
    flex-direction: column;
    margin:auto;
    padding:20px;
    align-items: center;
    justify-content: flex-start;
    width:100%;
    height:500px;
    gap:5px;
}
.tabelaDados{
    width:100%;
    height: auto;
    overflow-x: auto;
    border-radius: 3px;
}
.table{
    font-size: 0.89em;
}

.btnCadastrar{
    display: flex;
    justify-content: flex-end;
    background-color: #011126;
    width:100%;
    padding:1.5em;
    border-radius: 3px;
}
.botaoCadastrar{
    border:none;
    width:190px;
    background-color: #08428C;
    color:white;
    border-radius: 0.9em;
    padding:0.6em;
    font-size: 1.1em;
}
.cadastro{
    display:flex;
    flex-direction: column;
    margin:auto;
    padding:20px;

}
.divCampos{
    display: flex;
    justify-content: center;
    margin-bottom:15px;
}
.divCampos .formulario{
    display: block;
    width:350px;
    padding:0.4em;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.048);
    border-radius: 0.2em;
    border: solid 2px rgba(0, 0, 0, 0.336)
}
.btnEstilo{
    margin-right: 25px;
}
@media screen and (min-width:768px){

    .lista{     
        width:75%;
    }
    .table{
        font-size: 1em;
    }
}
@media screen and (min-width:1080px){
    .lista{     
        width:60%;
    }
}